:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}




/*===========================

Responsive Web Coding - 768px by 1024px (Tablet)

===========================*/
@media screen and (min-width: 575px) {
}

/*===========================

Responsive Web Coding - 1366px by 768px (Laptop)

===========================*/
@media screen and (min-width: 1366px) {
}


/*===========================

Responsive Web Coding - 1920px by 1080 px (Desktop)

===========================*/
@media screen and (min-width: 1500px) {
}
