:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}


/*===========================

Reset Rule

===========================*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}


/*===========================

Body and Header CSS

===========================*/

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header {
  background-color: #6003C3;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 7rem;
  text-align: center;
  padding: 4rem 0rem;
  line-height: 6.5rem;
}


/*===========================

Responsive Web Coding - 768px by 1024px (Tablet)

===========================*/
@media screen and (min-width: 575px) {
}

/*===========================

Responsive Web Coding - 1366px by 768px (Laptop)

===========================*/
@media screen and (min-width: 1366px) {
}


/*===========================

Responsive Web Coding - 1920px by 1080 px (Desktop)

===========================*/
@media screen and (min-width: 1500px) {
}
